<h1 style="margin-left: 20%;">Informações sobre a Dengue em Taquaritinga</h1>
<div class="container-fluid" >
  <div class="container-sm  border border-0"style="margin-right: 5%%; margin-left: 5%%; ">
<div class="shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-left: 0,50%; margin-right: 0,50%;">
<form>
    <div class="mb-3 " style="margin-right: 25%; margin-left: 25%; margin-bottom: 10%;">
      <label for="cep" class="form-label" style="margin-left: 5%">Cep</label>
      <input type="number" class="form-control" id="cep" style="margin-right: 30%;">
    </div>
    <a href="https://www2.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm" target="_blank" style="margin-left: 25%">Não sei meu Cep</a>
    <br>
    <button type="submit" class="btn btn-primary" style="margin-top: 1%; margin-left: 25%;">Buscar</button>
  </form>
</div>
</div>
</div>
  <br>
<app-footer></app-footer>