<div class="container-fluid" >
<form>
    <h1>Informações sobre a Dengue em Taquaritinga</h1>
    <div class="mb-3 " style="margin-right: 30%;">
      <label for="cep" class="form-label">Cep</label>
      <input type="number" class="form-control" id="cep">
    </div>
    <a href="https://www2.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm" target="_blank">Não sei meu Cep</a>
    <br>
    <button type="submit" class="btn btn-primary" style="margin-top: 1%;">Buscar</button>
  </form>
</div>
  <br>
<app-footer></app-footer>