<nav class="navbar navbar-expand-lg bg-danger" style="display: block;" data-bs-theme="dark">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#">Dencove</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center flex-row" style="width: 100%;">
                <div class="d-flex justify-content-end" style="width: 50%;">
                    <li class="nav-item underline">
                        <a class="nav-link" aria-expanded="false" role="button">Início</a>
                    </li>
                    <li class="nav-item underline">
                        <a class="nav-link" routerLink="/campaings" routerLinkActive="active" aria-expanded="false">Campanhas</a>
                    </li>
                    <li class="nav-item underline">
                        <a class="nav-link" routerLink="/cases" routerLinkActive="active" role="button" aria-expanded="false">
                            Casos
                        </a>
                    </li>
                    <li class="nav-item underline">
                        <a class="nav-link" routerLink="/reports" routerLinkActive="active" role="button" aria-expanded="false">
                            Denuncias
                        </a>
                    </li>
                    <li class="nav-item underline">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active" role="button" aria-expanded="false">
                            Sobre
                        </a>
                    </li>
                </div>
               <div class="d-flex justify-content-end" style="width: 30%;">
                <a class="btn hover-btn" routerLink="/login" routerLinkActive="active" role="button">Login</a>
               </div>
            </ul>
        </div>
    </div>
</nav>