<div class="container-fluid">
    <br>
    <h5 class="card-title" style="margin-left: 45%; margin-right: 40%;">Sobre nos</h5>
    <br>
    <div class="card mb-3" style="margin-left: 30%; margin-right: 30%;">
        <div class="card-body">
          <p class="card-text">O Departamento Municipal de Controle de Vetores (DEMCOVE), foi criado com o objetivo para o controle e combate ao mosquito aedes aegypti, causador da transmissão da doença dengue. 
            O principal trabalho deste departamento é a vistoria residencial,escolas,fabricas,borracharias,terrenos baldios, conscientizando-os
             sobre formas de combate e controle do mosquito e os perigos da sua criação (proliferação). 
             Ao longo dos anos passou a ser atendido neste departamento o combate a outros animais como escorpião, barata e rato. 
             Não podemos esquecer que todos esses problemas estão relacionados a limpeza e cuidados com o seu ambiente.
              O combate começa com você, vamos cuidar do seu espaço e não esperar que os outros cuidem.
          </p>
        </div>
      </div>
</div>
<app-footer></app-footer>