<div class="container-fluid " >
    <div class="container-sm border border-0 " style="margin-right: 0,05%; margin-left: 0,05%; margin-top: 4%; ">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-left: 30%; margin-right: 30%;">
      <form>
          <h1 style="margin-left: 35%; margin-right: 35%;">Cadastrar</h1>
          <div class="mb-3" style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="endereco" class="form-label">Nome</label>
            <input type="email" class="form-control" id="endereco" >
          </div>
          <div class="mb-3" style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="endereco" class="form-label">Telefone</label>
            <input type="email" class="form-control" id="endereco" >
          </div>
          <div class="mb-3" style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="email" class="form-control" id="endereco" >
          </div>

          <div class="mb-3" style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="endereco" class="form-label">Email</label>
            <input type="email" class="form-control" id="endereco" >
          </div>

          <div class="mb-3"style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3"style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="exampleInputPassword1" class="form-label"> Confirmar Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>

          <button type="submit" class="btn btn-primary"  style="margin-top: 1%; margin-right: 30%; margin-left: 15%; margin-bottom: 1px;">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
  <br>
