<div class="card-group w-100 d-flex justify-content-around"> 
    <div class="card border border-0 " style="margin-right: 1%; margin-left: 1%;">
      <div class="card-body">
        <h5 class="card-title">Denunciar</h5>
        <p class="card-text">Sua voz pode salvar vidas! Se você conhece áreas com focos de dengue ou casos suspeitos, não fique em silêncio. Denunciar é um ato de cidadania que ajuda a proteger sua comunidade e combater essa doença perigosa. Juntos, podemos acabar com a dengue. Faça sua parte!</p>
      </div>
      <a class="btn btn-primary" routerLink="/map" routerLinkActive="true">Denunciar</a>
    </div>
    <div class="card border border-0" style="margin-right: 1%;">
      <div class="card-body">
        <h5 class="card-title">Casos</h5>
        <p class="card-text">Quer saber como está a situação da sua rua ou bairro? Acesse nossa tela de casos e fique informado. É muito importante estar ciente da situação da dengue ao seu redor para evitar a contaminação e manter sua família segura</p>
      </div>
      <a class="btn btn-primary" routerLink="/map" routerLinkActive="true">Casos</a>
    </div>
    <div class="card border border-0 "style="margin-right: 1%;">
      <div class="card-body">
        <h5 class="card-title">Sobre nos</h5>
        <p class="card-text">Quer saber mais sobre nossa missão e como estamos fazendo a diferença? Acesse a seção "Sobre Nós" e descubra como estamos comprometidos em proteger sua saúde e a de sua comunidade. Explore nossa história, valores e as ações que nos movem. Vamos juntos construir um futuro mais seguro!</p>
      </div>
      <a class="btn btn-primary" routerLink="/map" routerLinkActive="true">Ver mais</a>
    </div>
</div>