<h1 style="margin-left: 40%; margin-right: 40%;">Registrar Caso</h1>
<div class="container-fluid ">
  <div class="container-sm border border-0 " style="margin-right: 0,05%; margin-left: 0,05%; ">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-left: 30%; margin-right: 30%;">
    <form>
        <div class="mb-3" style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
          <label for="name" class="form-label">Nome</label>
          <input type="input" class="form-control" id="name" >
        </div>
        <div class="mb-3"style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
          <label for="endereco" class="form-label">Endereço</label>
          <input type="input" class="form-control" id="endereco">
        </div>
        <div class="mb-3"style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="input" class="form-control" id="bairro">
          </div>
        <div class="mb-3"style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="Telefone" class="form-label">Telefone</label>
            <input type="number" class="form-control" id="Telefone">
          </div>
          <div class="mb-3"style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="email" class="form-label">Email</label>
            <input type="input" class="form-control" id="email">
          </div>
          <div class="mb-3"style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="Status" class="form-label">Status</label>
            <input type="input" class="form-control" id="Status">
          </div>
          <div class="mb-3"style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
            <label for="data" class="form-label">Data do Caso</label>
            <input type="date" class="form-control" id="data">
          </div>
         
        <button type="submit" class="btn btn-primary"  style="margin-top: 1%; margin-right: 20%; margin-left: 15%; margin-bottom: 1px;">Enviar</button>
      </form>
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>
