
<div class="container fluid">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/imgs/cam01.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Campanha 01</h5>
              <p class="card-text">O mosquito Aedes aegypti é pequeno, mas os danos que ele causa são enormes. 
                Ele é o principal transmissor da dengue, uma doença que pode ser evitada com atitudes simples. 
                Não dê chance para o mosquito! Elimine qualquer foco de água parada, onde ele se reproduz.
                Uma pequena ação diária pode proteger sua família e sua comunidade de uma grande ameaça.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/imgs/cam02.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Campanha 02</h5>
              <p class="card-text" >A dengue é uma ameaça real, mas você pode fazer a diferença! Evite o acúmulo de água parada em vasos,
                pneus e outros recipientes. Mantenha caixas d’água bem tampadas e limpe regularmente calhas e ralos. 
                Cada ação conta para afastar o mosquito Aedes aegypti da sua casa e da sua comunidade. 
               Juntos, podemos eliminar os focos e proteger nossas famílias. Previna a dengue!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<app-footer></app-footer>

