<footer class="container-fluid bg-danger h-30  d-flex p-3">
  <div class="card-group d-flex justify-content-around w-100">
    <div class="d-flex " style="width: 20%;">
      <img src="../../../../assets/imgs/pref.png" class="img-thumbnail rounded-circle img-fluid" alt="...">
    </div>
    <div class="card bg-danger">
      <div>
        <h5 class="card-title">Telefone</h5>
        <p class="card-text">3252-2238</p>
        <p class="card-text">demcove&#64;taquaritinga.sp.gov.br</p>
        <p class="card-text">demcove5&#64;outlook.com</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div>
        <h5 class="card-title">Endereço</h5>
        <p class="card-text">Rua Barão do Triunfo - 250</p>
        <p class="card-text">Centro, Taquaritinga-SP</p>
      </div>

    </div>
    <div class="card bg-danger">
      <div>
        <h5 class="card-title">Redes Socias</h5>
        <p class="card-text">Instagram</p>
        <p class="card-text">Facebook</p>
      </div>
    </div>
  </div>
</footer>