<div class="container-fluid " >
  <div class="container-sm border border-0 " style="margin-right: 0,05%; margin-left: 0,05%; margin-top: 10%; ">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-left: 30%; margin-right: 30%;">
    <form>
        <h1 style="margin-left: 40%; margin-right: 40%;">Login</h1>
        <div class="mb-3" style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
          <label for="endereco" class="form-label">Email</label>
          <input type="email" class="form-control" id="endereco" >
        </div>
        <div class="mb-3"style="margin-right: 15%; margin-left: 15%; margin-bottom: 10%;">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <a routerLink="/register" routerLinkActive="true" style="margin-top: 1%; margin-right: 30%; margin-left: 15%; margin-bottom: 2px;">Cadastrar</a>
        <a routerLink="/forgotpassword" routerLinkActive="true" style="margin-top: 1%; margin-right: 30%; margin-left: 15%; margin-bottom: 2px;">Esqueci minha senha</a>
        <button type="submit" class="btn btn-primary"  style="margin-top: 1%; margin-right: 20%; margin-left: 15%; margin-bottom: 1px;">Entrar</button>
      </form>
    </div>
  </div>
</div>
<br>